@import url('https://fonts.googleapis.com/css2?family=Comic+Neue&display=swap');

body * {
  font-family: 'Comic Neue', cursive;
  letter-spacing: 2px;
}

.App {
  text-align: center;
  margin: 2rem;
}

.section {
  text-align: left;
  max-width: 720px;
  margin: 4rem auto auto;
}
