@import url('https://fonts.googleapis.com/css2?family=Comic+Neue&display=swap');
@import 'styles/Constants';

body * {
  font-family: 'Comic Neue', cursive;
  letter-spacing: 2px;
}

.App {
  text-align: center;
  margin: 2rem;
}

.section {
  text-align: left;
  max-width: 1080px;
  margin: 4rem auto auto;

  & .section-text-box {
    text-align: center;

      & > h2 {
        font-size: 30px;
      }
  }
}

.yellow {
  background-color: $yellow;
}
