.header {
  -webkit-box-align: center;
  -webkit-box-direction: normal;
  -webkit-box-orient: horizontal;
  -webkit-box-pack: justify;
  -webkit-font-smoothing: antialiased;
  -webkit-tap-highlight-color: transparent;
  justify-content: center;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  margin-left: auto;
  margin-right: auto;
  padding: 2rem 3.2rem;
  position: relative;
  z-index: 850;

  & .header-logo {
    -webkit-box-align: center;
    -webkit-font-smoothing: antialiased;
    -webkit-tap-highlight-color: transparent;
    height: 2rem;
    align-items: center;
    background-color: transparent;
    box-sizing: border-box;
    display: flex;
    text-decoration: none;
    transition: color .2s;
    padding-bottom: .60rem;


    & .logo {
      -webkit-font-smoothing: antialiased;
      -webkit-tap-highlight-color: transparent;
      box-sizing: border-box;
      display: block;
      height: 2rem;
      margin: 1rem;
    }

    & .title {
      color: black;
      outline: none;
      height: 2rem;
    }
  }

  & .header-wallet {
    -webkit-box-align: center;
    -webkit-font-smoothing: antialiased;
    -webkit-tap-highlight-color: transparent;
    align-items: center;
    box-sizing: border-box;
    display: flex;
    margin: 0 1rem;

    & .status-badge {
      content: '';
      -webkit-font-smoothing: antialiased;
      -webkit-tap-highlight-color: transparent;
      border-radius: 50%;
      box-sizing: border-box;
      height: 1.2rem;
    }

    & > p {
      font-size: .70rem;
    }
  }

  & .header-nav {
    -webkit-box-align: center;
    -webkit-box-pack: end;
    -webkit-font-smoothing: antialiased;
    -webkit-tap-highlight-color: transparent;
    align-items: center;
    box-sizing: border-box;
    color: #82817d;
    display: flex;
    justify-content: flex-end;
    list-style: none;
    margin: 0;
    padding: 0;
    flex: 1;
  }
}
