.stat-container {
  width: calc(100% / 4);
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;

  & .stat-icon {
    width: 50%;
    height: 100%;
  }

  & .stat-value {
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
