.stat-container {
  margin-left: 4px;
  width: 30px;
  height: 100%;
  display: flex;

  & .stat-icon {
    height: 100%;
  }

  & .stat-value {
    height: 100%;
    font-size: 12px;
    display: flex;
  }
}
